html,body{
    overflow-x: hidden;
}
.bg-color {
    background-color: #e5eff0;
    width: 100%;
    align-items: center;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
}

.home-styling {
    width: 100%;
    position: relative;
    z-index: 1;
    border-image-slice: 30;
    min-height: 75vh;
}

/* Navbar */

.nav-text {
    color: #e5eff0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    margin-top: 2%;
    margin-bottom: 2%;
}

.nav-home {
    color: #4690c9;
    font-family: 'Courier Prime', monospace;
    font-weight: 100;
    font-weight: 400;
    border-style: solid;
    border-color: #4690c9;
    border-radius: 50%;
    padding: 7px;
    font-size: 1.5rem;
}

.nav-text:hover {
    color: #4690c9;
}

.nav-home:hover {
    color: #4690c9;
}
.navbar {
    padding: 0 !important;
    z-index: 2;
    background-color: #32312f;
    width: 100%;
    position: fixed;
}

.git-icons {
    margin: 12px 0 0 0;
}

.icons {
    color: #e6f6ff;
    text-decoration: none;
}

.icons:hover {
    color: #4690c9;
}

/* Backgrounds */
.cover-container {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
}

/* Header section */

.home-row {
margin-top: 10%;
}

.col-home-text {
    line-height: 1;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    margin-left: 10%;
}

.name-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: #32312f;
    letter-spacing: 0.3rem;
    text-align: justify;
}

.sub-title {
    font-size: 1.1rem;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    color: #32312f;
    letter-spacing: 0.2rem;
    margin-top: 4%;
    text-align: justify;
}

.sub-top {
    margin-top: 7%;
}

.sub-bottom {
    margin-top: 2%;
    margin-bottom: 3%;
}

.sub-title-ptag {
    font-weight: 200;
    font-size: 0.8rem;
    font-style: italic;
}

.col-home-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    align-items: left;
}

.send-btn-home{
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 1.1rem;
    opacity: .8;
    width: 33%;
    text-align: center;
}

.contact-btn {
    color: black;
    text-decoration: none!important;
    background-color: #4690c9;
    border-color: #4690c9;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    padding: 2%;
    margin-right: 2%;
}

.contact-btn:hover {
    background-color: black;
    border-color: black;
    color: white;
}

.portfolio-btn {
    background-color: #e5eff0;
    border-color: #e5eff0;
    color: black;
    text-decoration: none!important;
    margin-top: 0.5%;
}

.portfolio-btn:hover {
     color: #4690c9;
}

.arrow-work {
    margin-left: 5%;
    border-radius: 50%;
    border: solid black;
    padding: 5px;
}

.portfolio-btn:hover .arrow-work {
  border-color: #4690c9;
}

.col-home-img {
 display: flex;
  justify-content: center;
  align-items: center;
}

.main-img {
    border-radius: 50%;
    max-width: 80%;
    margin-right: 10%;
}


/* Dividers */
.b-example-divider {
    height: 1rem;
    box-shadow: inset 0 .5em 1.5em white, inset 0 .125em .5em white;
    padding-bottom: 5%;
    margin: 2% 0 5% 0;
}

/* Portfolio section*/
.portfolio-header {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    color:#32312f;
    text-align: left;
}

.portfolio-title-box {
    border-bottom-style: inset;
    border-bottom-color: #32312f;
    border-bottom-width: 2px;
    margin: 0 8%;
}

.carousel-measurements {
    margin: 10% 2% 5% 16%;
    width: 700px;

}

.carousel-inner {
    width: 25rem;
}

.card {
    border-style: solid;
    border-width: 6px;
    border-color: white;
    background-color: white;
    height: 320px;
}

.card-title {
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
    color: black;
    position: relative;
    right: 20%;
    text-decoration: none;
}

.card-title:hover{
    color: grey;
}

.cursor {
    position: relative;
    left: 2%;
    top: 6%;
    transform: rotate(350deg);
}

.card-text {
    font-family: "Ubuntu", sans-serif;
    font-weight: 100;
    text-align: center;
    color: black;
    font-size: 1rem;
    color: black;
    text-align: left;
    opacity: .6;
}

.previous-icon {
filter: invert(100%);

}

.following-icon {
filter: invert(100%);
}

.card-one {
    position: relative;
    left: 20%;
}

.todo-img {
    width: 100%;
}


.todo-img, .todo-login, .todo-list-one, .todo-list-two {
  max-width: 100%; /* Make sure the images have a max-width of 100% */
}

@media only screen and (max-width: 500px) { /* Add a media query for smaller screens */
  .carousel-measurements {
    max-width: 100%; /* Set the max-width to 100% for smaller screens */
  }
}

/* Contact section */
.get-in-touch-header {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    color: #28A745;
    text-align: left;
}

.contact-title-box {
    border-bottom-style: inset;
    border-bottom-color: #202428;
    border-bottom-width: 3px;
    margin: 0 8%;
}

.email-label {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: black;
    text-align: left;
    opacity: .8;
}

.email-entry {
    width: 50%;
    border-style: solid;
    border-color:  #999999;
    border-width: 1px;
    height: 35px;
    border-radius: 5px;
}

.message-entry {
    width: 50%;
    height: 140px;
    border-style: solid;
    border-color:  #999999;
    border-width: 1px;
    border-radius: 5px;
}


.send-btn{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: white;
    background-color: black;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    position: relative;
    left: 68%;
    border-radius: 5px;
    margin-top: 1.5%;
    padding: 8px;
    opacity: .8;
    margin-bottom: 70px;
}

.send-btn:hover {
    background-color: grey;
    border-color: grey;
}

.left-row {
    position: relative;
    left: 20%;
}

.subj-form {
    position: relative;
    top: 34px;
}

.form-row {
    margin-top: 100px;
}

.right-row {
    position: relative;
}

@media (max-width: 998px) {
  .right-row {
    position: static;
    margin-left: 20%;
    margin-top: 10%;
  }
}

#flash-message {
font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: #4690c9;
    margin-top: 2%;
}

/* CV */
.cv-body{
    background-color: #e5eff0;
}

.cv-margin-top {
    margin-top: 5%;
}

.cv-contents {
    margin: 3%;
}

.cv-body {
    font-family: "Montserrat", sans-serif;
}

.cv-img {
    width: 80%;
    border-radius: 50%;
}

.img-col {
    margin-top: 5%;
}

.text-col {
    margin-top: 5%;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2;
}

.contact-cv {
    margin-left: 7%;
    margin-bottom: 3%;
    font-weight: 400;
}

td {
  text-align: left;
  vertical-align: middle;
}

.td-smallest {
width: 7%;
}

.td-small {
width: 10%;
}

.td-small-big{
width: 60%:
}

.td-med {
width: 20%;
}

.td-big {
width: 30%;
}

.td-between {
width: 40%;
}

.td-biggest {
width: 48%;
}

.table-head {
margin-top: 2%;
}
/* Footer */
.footer-pad {
    padding-top: 2%;
    text-align: center;
}

.footer-text {
    color: #32312f;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #737373;
}

.fa-copyright {
padding-right: 2px;
}

/* For small screens */
@media (max-width: 768px) {
  .home-row {
    margin-top: 15%;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .col-home-text {
    width: 100%;
    margin: 0 auto;
  }

  .name-title {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-align: justify;
  }

  .sub-title {
    font-size: 0.8rem;
    margin-top: 3%;
    letter-spacing: 0.1rem;
  }

  .sub-title-ptag {
    font-size: 0.6rem;
  }

  .sub-top {
    margin-top: 5%;
  }

  .sub-bottom {
    margin-top: 1%;
  }

  .col-home-buttons {
    flex-direction: column;
    margin-top: 5%;
  }

  .send-btn-home {
    width: 50%;
    margin-bottom: 3%;
    font-size: 0.8rem;
  }

  .arrow-work {
      padding: 2px;
  }
  .main-img {
    max-width: 60%;
    margin-top: 5%;
  }

  .portfolio-header {
     font-size: 2rem;
  }
  .carousel-measurements {
      margin-left: 0;
  }
  .send-btn {
    left: 47%;
    font-size: 0.8rem;
  }
  .cv-margin-top {
    margin-top: 10%;
    }
  .cv-img {
    width: 40%;
    }

}

/* For medium to large screens */
@media only screen and (max-width: 970px) and (min-width: 769px) {
.home-styling {
min-height: 60vh;
}
  .home-row {
    margin-top: 10%;
  }

  .col-home-text {
    line-height: 1;
    width: 48%;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 1%;
  }

  .name-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #32312f;
    letter-spacing: 0.3rem;
  }

  .sub-title {
    font-size: 0.9rem;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    color: #32312f;
    margin-top: 4%;
    letter-spacing: 0rem;
  }

  .sub-top {
    margin-top: 7%;
  }

  .sub-bottom {
    margin-top: 2%;
    margin-bottom: 3%;
  }

  .sub-title-ptag {
    font-weight: 200;
    font-size: 0.6rem;
    font-style: italic;
    letter-spacing: 0.1rem;
  }

  .col-home-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    align-items: left;
  }

  .send-btn-home {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 0.9rem;
    opacity: .8;
    width: 100%;
    text-align: center;
  }

  .contact-btn {
    color: black;
    text-decoration: none!important;
    background-color: #4690c9;
    border-color: #4690c9;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    padding: 2%;
    margin-right: 2%;
  }

  .contact-btn:hover {
    background-color: black;
    border-color: black;
    color: white;
  }

  .portfolio-btn {
    background-color: #e5eff0;
    border-color: #e5eff0;
    color: black;
    text-decoration: none!important;
    margin-top: 0.5%;
  }

  .portfolio-btn:hover {
    color: #4690c9;
  }

  .arrow-work {
    margin-left: 5
  }

  .col-home-img {
    width: 50%;
  }

  .cv-margin-top {
    margin-top: 10%;
    }

    .cv-img {
    width: 50%;
    }

}