<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include 'header.html' %}

<body class="cv-body">
<div class="container cv-margin-top">
<div class="row">
  <div class="col-lg-3 img-col">
    <img src="static/claudia-modified.png" class="cv-img" alt="claudia's header">
  </div>
  <div class="col-lg-9 text-col">
    <h1>Claudia Church</h1>
        <p> Software engineer with experience in social media promotion, teaching English as a foreign language, & hospitality work. Proficient in Python, CSS & HTML; familiar with web scraping, APIs, applications with Flask Framework, Bootstrap, SQL databases, & GitHub. Dedicated to continuous learning & development, with a passion for problem-solving & innovation. Currently working as an apprentice for Exasoft Group, whilst completing a front-end professional certificate with Meta in JavaScript & React. </p>
        <p class="cv-details"><b>Address:</b> Priory Farm, Priors Marston, Shuckburgh road, Warwickshire, CV47 7RY, UK </br>
            <b>Mobile:</b> +447984641632</br>
            <b>E-mail:</b> claudiachurch00@gmail.com <a href="/#contact" class="contact-cv">Email me</a></p>
  </div>
</div>
</div>

<div class="cv-contents">
  <h3>Programming: </h3>
  <hr size=2, noshade />
<table cellspacing="10">
    <thead>
      <tr align="left">
        <th>Dates</th>
        <th>Institution</th>
        <th>Details</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
    <tr>
        <td>Current</td>
        <td>Exasoft Group</td>
        <td>Apprentice Software Engineer</td>
        <td></td>
      </tr>
    <tr>
        <td>Current</td>
        <td>Meta</td>
        <td>Meta Front-End Developer Professional Certificate </td>
        <td>JavaScript, Version Control, HTML & CSS in depth, React advanced, principles of UI/UX design. </td>
      </tr>
    <tr>
        <td>2023</td>
        <td>Codecademy</td>
        <td>Learn Ruby- beginner fundamentals </td>
        <td>Foundations of Ruby.</td>
      </tr>
      <tr>
        <td class="td-smallest">2022</td>
        <td class="td-small">Udemy</td>
        <td class="td-big">100 Days of Code: The Complete Python Pro Bootcamp</td>
        <td class="td-biggest">CSS, HTML, web scraping, APIs, Flask Framework, Bootstrap & SQL databases.</td>
      </tr>
    </tbody>
    </table>

  <h3 class="table-head">Education: </h3>
  <hr size=2, noshade />
  <table cellspacing = "10">
    <thead>
      <tr align="left">
        <th>Dates</th>
        <th>Institution</th>
        <th>Certificate</th>
        <th>Grades</th>
        <th>Subject</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="td-smallest">2019-2022</td>
        <td class="td-small-big">The University of Manchester</td>
        <td class="td-small-big">BSocSc</td>
        <td class="td-med">Upper second class (2.1)</td>
        <td class="td-big">Politics & International Relations</td>
      </tr>
      <tr>
        <td>2016-2018</td>
        <td>St Clare's College, Oxford</td>
        <td>International Baccalaureate</td>
        <td>39 points</td>
        <td></br>Higher level:
        History (7) English literature (6) Psychology (6) </br>
        Standard level:
        Maths (7) Spanish (6) Biology (5)</br>
        Additional:
        Theory of Knowledge and Extended Essay (2)</td>
      </tr>
      <tr>
        <td>2014-2016</td>
        <td>Uppingham School</td>
        <td>GCSE</td>
        <td>2 A*s (Greek and Latin), B (Art and design); IGCSE: 5 A*s (inc Maths and English), 3 As (inc Spanish) </td>
      </tr>
    </tbody>
  </table>

  <h3 class="table-head">Work Experience: </h3>
  <hr size=2, noshade />
  <table cellspacing = "10">
    <thead>
      <tr align="left">
        <th>Dates</th>
        <th>Position</th>
        <th>Company</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2022</td>
        <td>Social Media Consultant </td>
        <td>AC Web 3 Consultancy</td>
      </tr>
      <tr>
        <td>2021-2022</td>
        <td>TEFL Instructor</td>
        <td>Cambly</td>
      </tr>
      <tr>
        <td class="td-small">2018-2019</td>
        <td class="td-big">Waitress & Bar Staff</td>
        <td class="td-between">The Victoria, Oxford</td>
      </tr>
      <tr>
        <td>2016-2018</td>
        <td>Waitress at Hospitality Events</td>
        <td>Absolute Taste</td>
      </tr>
    </tbody>
  </table>

  <h3 class="table-head">Interests:</h3>
  <hr size=2, noshade />
  <table cellspacing = "10">
      <tr>
        <td><b>Travelling:</b> I went on an eight-month trip across Central America & Mexico in 2021-2022, after this I spent six months living and working remotely in Guatemala.</td>
      </tr>
      <tr>
        <td><b>Spanish (intermediate):</b> I studied Spanish throughout school & as an optional module in University. This was developed through my time in Central America.</td>
      </tr>
      <tr>
        <td><b>Content Creation:</b> I curate a TikTok channel focused on travel content, for which I have successfully secured several paid promotions.</td>
      </tr>
      <tr>
        <td><b>Yoga:</b> I prioritise my physical and mental well-being by practicing daily yoga. I am looking forward to furthering my practice by attending a yoga teacher training in Nepal.</td>
      </tr>
  </table>

</div>

</body>
<footer class="mt-auto text-white-50 footer-pad">
        <p class="footer-text"><i class="fa-regular fa-copyright fa-copyright"></i> Claudia Church {{ year }}</p>
    </footer>
</html>