<!doctype html>
<html lang="en" class="h-100">
{% include 'header.html' %}

    <section id="home">
    <div class="home-styling" >
    <main class="px-3">
<div class="container my-container">
  <div class="row home-row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-home-text">
      <p class="name-title">Hey,</p>
      <p class="name-title">I'm Claudia;</p>
      <p class="name-title">Full-Stack</p>
      <p class="name-title">Web Developer</p>
      <p class="sub-title sub-top"><span class="sub-title-ptag"> < p > </span>back-end python coder <span class="sub-title-ptag">< /p ></span></p>
      <p class="sub-title sub-bottom"><span class="sub-title-ptag"> < p ></span> front-end html & css designer <span class="sub-title-ptag">< /p ></span> </p>
      <div class="col-home-buttons">
        <a class="send-btn-home contact-btn" href="#contact">Contact me</a>
        <a class="send-btn-home portfolio-btn" href="#portfolio">View my work<i class="fa-solid fa-arrow-right arrow-work"></i></a>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-home-img">
      <img class="main-img" src="static/sunset-modified.png">
    </div>
  </div>
</div>


    </main>
    </div>
    </section>

    <section id="portfolio">

    <div class="b-example-divider"></div>

    <div class="portfolio-title-box">
        <h1 class="portfolio-header">my_portfolio</h1>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">

            <div class="carousel-measurements">
                <div id="myCarousel" class="carousel slide" data-interval="false">
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="card" style="width: 25rem;">
                                <img class="todo-img" src="static/todo-home.png">
                                <div class="card-body">
                                    <a href="https://todo-organiser.herokuapp.com/" class="card-title">ToDo project organiser<i class="fa-solid fa-arrow-pointer cursor"></i></a>
                                    <p class="card-text">Python website on Flask.</p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="card" style="width: 25rem;">
                            <img class="todo-img" src="static/login.png">
                                <div class="card-body">
                                    <p class="card-text">Individual login & sign up pages. New users & lists saved in SQL database.</p>
                                </div>
                            </div>
                        </div>

                      <div class="carousel-item">
                          <div class="card" style="width: 25rem;">
                              <img class="todo-img" src="static/todo2.png">
                              <div class="card-body">
                                    <p class="card-text">Personal ToDo page with list titles & separate daily schedule. All lists saved to SQL database. </p>
                              </div>
                          </div>
                      </div>

                      <div class="carousel-item">
                          <div class="card" style="width: 25rem;">
                              <img class="todo-img" src="static/todo4.png">
                              <div class="card-body">
                                    <p class="card-text">View each list separately by clicking on their list title. Add, complete, edit & delete items.</p>
                              </div>
                          </div>
                      </div>

                      <div class="carousel-item">
                          <div class="card" style="width: 25rem;">
                              <img class="todo-img" src="static/additem.png">
                              <div class="card-body">
                                    <p class="card-text">Separate pages with Flask WTForms to add new lists & items.</p>
                              </div>
                          </div>
                    </div>

                    <button class="carousel-control-prev previous-icon" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next following-icon" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    <div class="b-example-divider"></div>

    <section id="contact">
    <div class="portfolio-title-box">
        <h1 class="portfolio-header">get_in_touch</h1>
    </div>

    <div id="flash-message">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class=flashes>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
    </div>

    <form method="post">
        {{ form.hidden_tag() }}
        <div class="row form-row">
            <div class="col-lg-6 col-md-12 left-row">
                <div class="row">
                    {{ form.email.label(class="email-label") }}
                </div>
                <div class="row">
                    {{ form.email(class="email-entry") }}
                </div>
                <div class="row">
                    {{ form.subject.label(class="email-label subj-form") }}
                </div>
                <div class="row">
                    {{ form.subject(class="email-entry subj-form") }}
                </div>
            </div>
            <div class="col-lg-6 col-md-12 right-row">
                <div class="row">
                    {{ form.message.label(class="email-label") }}
                </div>
                <div class="row">
                    {{ form.message(class="message-entry") }}
                </div>
            </div>
        </div>
        {{ form.submit(class="send-btn") }}
    </form>
    </section>

    <footer class="mt-auto text-white-50 footer-pad">
        <p class="footer-text"><i class="fa-regular fa-copyright fa-copyright"></i> Claudia Church {{ year }}</p>
    </footer>

    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

    </body>

</html>